<app-form [form]="form" 
      (onSubmit)="handleSubmit($event)"
      [formConfig$]="formConfig$"
      [data$]="data$"
      (onInitForm)="handleInitForm($event)"
      (onUpdateForm)="handleUpdateData($event)">

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="form && form.errors?.noProducts && form.dirty" class="ValidationErrorLabel mg-bottom-15">
        {{ form.errors?.noProducts.message }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <app-form-content
            [form]="form" 
            [controls]="[controls.productViewer]"
          >
          </app-form-content>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-form-content
            [form]="form" 
            [controls]="[controls.customerDetails]"
          >
          </app-form-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2 clearfix d-flex">
          <button
              mat-raised-button
              class="mr-auto"
              name="update"
              type="button"
              (click)="handleReset()"
            >{{'GLOBAL.RESET' | translate}}
          </button>
        
          <button
              mat-raised-button
              color="primary"
              name="save"
              type="submit"
            >{{'GLOBAL.SAVE' | translate}}
          </button>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-product-list
      *ngIf="form"
        [group]="form"
        (productSelected)="onProductSelected($event)"
        (addProduct)="onProductAdd()"
        (deleteProduct)="onProductDelete($event)"
      >
      </app-product-list>
    </div>
  </div>

</app-form>