<!-- Form Container -->
<app-form [form]="form" 
      (onSubmit)="handleSubmit($event)"
      [formConfig$]="formConfig$"
      [data$]="data$"
      (onInitForm)="handleInitForm($event)"
      (onUpdateForm)="handleUpdateData($event)">

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="form && form.errors?.noProducts && form.dirty" class="ValidationErrorLabel text-danger mg-bottom-15">
        {{ form.errors?.noProducts.message }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">

          <!-- Render product viewer component in a custom template -->
          <app-form-content
            [form]="form" 
            [controls]="[controls?.productViewer]"
          >
          </app-form-content>
          <!-- / Render product viewer component in a custom template -->

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <!-- Render customer details fields dynamically -->
          <app-form-content
            [form]="form" 
            [controls]="[controls?.customerDetails]"
          >
          </app-form-content>
          <!-- / Render customer details fields dynamically -->

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2 clearfix d-flex">

          <!-- Form button actions -->
          <button
              mat-raised-button
              class="mr-auto"
              name="reset"
              type="button"
              (click)="handleReset()"
            >{{'GLOBAL.RESET' | translate}}
          </button>
        
          <button
              mat-raised-button
              color="primary"
              name="save"
              type="submit"
            >{{'GLOBAL.SAVE' | translate}}
          </button>
          <!-- / Form button actions -->

        </div>
      </div>
    </div>
    <div class="col-md-4">

      <!-- Product list component -->
      <app-product-list
      *ngIf="form"
        [group]="form"
        (productSelected)="onProductSelected($event)"
        (addProduct)="handleAddProduct()"
        (deleteProduct)="onProductDelete($event)"
      >
      </app-product-list>
      <!-- / Product list component -->

    </div>
  </div>

</app-form>
<!-- / Form Container -->